body{
padding:0;
margin: 0;
box-sizing: border-box;
font-family: "open sans";
font-size: 18px; 
}
.logos {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
img.logo-img {
    height: 30px;
    margin-left: 50px;
}

.link-box{
	text-align: center;
	position: relative;
	margin: -5px 60px;
}
.links li{
	list-style: none;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	color: hsl(220deg 2% 62%);
}
.links li a{
	text-decoration: none;
	color: hsl(220deg 2% 62%);
	
}
._banner {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.content-wrapper{
    margin-top: 40px;
}
img.mock-img {
    width: 87%;
    float: right;
    padding-right: 75px;
}
h1._header {
    margin-top: 108px;
    margin-left: 85px;
    font-size: 35px;
}
p.desc {
    padding-left: 89px;
    white-space: nowrap;
    font-size: 16px;

}
._form{
	padding: 12px 27px;
    margin-left: 65px;
    margin-top: 19px;
}
._text{
    padding: 10px;
    border-radius: 4px solid white;
}
button.p_btn {
    padding: 10px 40px;
    background-color: hsl(224, 93%, 58%);
    border: 2px solid hsl(224, 93%, 58%);
    color: #fff;
    border-radius: 4px;
    
}
._bann {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    background-color: hsl(240, 75%, 98%);
    height: 750px;
}
.content-2{
    margin-top: -20px;
}
h1._head {
    margin-top: 50px;
    margin-left: 91px;
    font-size: 36px;
}
p.dense {
    padding-left: 89px;
    white-space: nowrap;
    font-size: 14px;
}

.fylo-works{
    color: hsl(170, 45%, 43%);
    font-size: 20px;
    margin-left: 85px;
}
.card{
    margin-left:60px ;
    margin-top:50px ;
}
.card{
    margin-left:80px ;
    background: white;
    width: 370px;
    
    border-radius: 9px;
    padding: 38px;
    color:hsl(238, 22%, 44%);
}
.card-img{
    border-radius: 75px;
}
.kylie-info{
    margin: -127px 0px -7px 156px;
}
.kylie{
    font-size: 25px;
    color: hsl(243, 87%, 12%);
}
.ceo{
    margin-top:-23px ;
}
img.mock_img{
    width: 550px;
    margin-top: 70px;
    margin-right: 80px;
}
.img-grow{
    margin-bottom: -120px;
    margin-top: 100px;
    width: 1350px;
}
._banner1 {
    display: flex;
    justify-content: space-between;
    background-color: hsl(238, 22%, 44%);
}
.content-wrapper1{
    color: white;
    margin:20px;
}
h1._header1 {
    margin-left: 65px;
    font-size: 35px;
}
p.desc1 {
    padding-left: 65px;
    white-space: nowrap;
    font-size: 16px;
    margin-top: -10px;

}
._fuel{
    
    margin-right: 90px;
    padding: 50px 100px;
    margin: 20px;
    justify-content: space-between;
}
._sly{
    padding: 15px;
    padding-right: 200px;
    border-radius: 8px solid white;
}
button.p_bay {
    padding: 15px;
    padding-right: 30px;
    background-color: hsl(224, 93%, 58%);
    border: 2px solid hsl(224, 93%, 58%);
    color: #fff;
    margin-left: -2px;
    margin-top: 10px;
    border-radius: 4px;
  }
  ._footer {
    background: hsl(243, 87%, 12%);
    display: flex;
    justify-content: space-between;
    color: white;
    height: 300px;

    
}
.footer_logo{
    margin-top: 80px;
    margin-left: 84px;
    filter: invert(700%);
    width: 100px;
    
}
.sub_addr{
   margin-left: 90px;
}
ul.footer-i{
    list-style: none;
    margin-right: 50px;
    margin-top: 90px;
    color: white;  
    line-height: 30px;
}
.footter_klin{
    list-style: none;
    margin-top: 90px;
    line-height: 30px;
    
}
ul.icon-list{
    list-style: none;
    display: flex;
    margin-top: 90px;
    margin-right: 100px;
}
li.icon-icon{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.nik li a{
    text-decoration: none;
    color: white;
}
/*li.but1{
	padding: 0px 30px;
}
li.but2{
	padding: 0px 30px;
}
li.but3{
	padding: 0px 30px;
-}
div.content_3{
    border: 2px solid #fff;
    box-shadow: 0px 0px 1px 1px #f4f4f4;
     border-radius: 10px;
     background-color: white;
     margin-left: 20px;
     padding-right: 5px;